.index-page .p1th{
    width: 100%;
    height: 600px;
    background: url("../../img/banner.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}
.index-page .p1th{
    position: relative;
}
.index-page .p1th .item-1{
    position: absolute;
    left:50%;
    top:50%;
    z-index: 2;
    transform: translate(-50%,-50%);
}
.index-page .inner{
    width: 100%;
    height: 600px;
    position: absolute;
    left:0;
    top:0;
    z-index: 1;
    background:rgba(0,0,0,.6);
}
.index-page .p1th .item-1 .logo{
    width: 125px;
    height: 120px;
    display: inline-block;
    vertical-align: middle;
    background: url("../../img/logo1.png") no-repeat;
    background-size: cover;
}
.index-page .p1th .item-1 .txt{
    color:#fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    margin-left: 10px;
}
.index-page .p2th{
    margin-top: 30px;
}
.index-page .p2th .lbox{
    width: 600px;
    height: 400px;
    overflow: hidden;
    padding:20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 5px 30px 5px #c7c7c7;
}
.index-page .p2th .lbox img{
    width: 100%;
    height: 400px;
    transition: all .8s;
}
.index-page .p2th .rbox{
    width: 500px;
    margin-left: 50px;
}
.index-page .p2th .rbox .item-1{
    font-size: 48px;
    color:#303445;
    margin-top: 70px;
    margin-bottom: 20px;
}
.index-page .p2th .rbox .item-2{
    font-size: 18px;
    color:#303445;
    margin-bottom: 8px;
}
.index-page .p3th{
    margin-top: 40px;
}
.index-page  .title{
    font-size: 20px;
    padding:15px 0px;
    color:#333;
    font-weight: 700;
}
.index-page .p3th .list{
 
}
.index-page .p3th .list li{
    width:280px;
    height: 280px;
    float: left;
    margin-right: 26px;
    border-radius: 5px;
    cursor: pointer;
}
.index-page .p3th .list li:hover{
    box-shadow: 0 0 20px rgba(0,0,0,.15);
}
.index-page .p3th .list li:last-child{
    margin-right: 0px;
}
.index-page .p3th .list li img{
    width: 100%;
    height: 280px;
    object-fit:cover;
    border-radius: 5px;
}
.index-page .p4th{
    margin-top: 40px;
}
.index-page .p4th .list li{
    width: 380px;
    height: 300px;
    margin-right: 30px;
    float: left;
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
    overflow: hidden;
}
.index-page .p4th .list li:last-child{
    margin-right: 0;
}
.index-page .p4th .list li img{
    width: 100%;
    height: 300px;
    object-fit:cover;
    display: block;
    -webkit-transition: all .6s;
    transition: all .6s;
}
.index-page .p4th .list li:hover img{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.index-page .p4th .list li .txt{
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom:0;
    color:#fff;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    background: rgba(0,0,0,.6);

}
.p5th .img-item{
    width: 100%;
    height: 400px;
    background: url("../../img/7.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.index-page .p6th{
    margin-top: 40px;
}
.index-page  .title{
    font-size: 20px;
    padding:15px 0px;
    color:#333;
    font-weight: 700;
}
.index-page .p6th .list{
 
}
.index-page .p6th .list li{
    width:280px;
    height: 280px;
    float: left;
    margin-right: 26px;
    margin-bottom:26px;
    border-radius: 5px;
    cursor: pointer;
}
.index-page .p6th .list li:hover{
    box-shadow: 0 0 20px rgba(0,0,0,.15);
}
.index-page .p6th .list li:last-child{
    margin-right: 0px;
}
.index-page .p6th .list li img{
    width: 100%;
    height: 280px;
    object-fit:cover;
    border-radius: 5px;
}